@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    --background:0, 0%, 100%;
    
    --foreground:0,0%,50%;
    --card:0,0%,100%;
    --card-foreground: 311.25, 96%, 9.8%;
    --popover:28.9,89.8%,46.3% ;
    --popover-foreground: 311.25, 96%, 9.8%;
    --primary: 311.25, 96%, 9.8%;
    --primary-foreground:28.9,89.8%,46.3%;
    --secondary:28.9,89.8%,46.3% ;

    --secondary-foreground:48.44, 97.6%, 49.02% ;
    --muted: 240 4.8% 95.9%;
    --muted-foreground:311.25, 96%, 9.8% ;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 311.25, 96%, 9.8%;
    --destructive-foreground:311.25, 96%, 9.8%;
    --border: 0 0 100%;
    --input: 240 5.9% 90%;
    --ring: 311.25, 96%, 9.8%;
    --radius: 0.5rem;
  }

  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


